@model IEnumerable<iTed2.Models.Category>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Google Custom Search 範例";
}

<div class="search-container">
    <div>
        <div class="searchBtn-container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.TextBox("CategoryName", null, new { id = "search-box", @class = "search-box" })
                <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                @Html.ValidationMessageFor(model => model.FirstOrDefault().CategoryName, "", new { @class = "text-danger" })
            }
        </div>
        @if (ViewBag.TedList != null)
        {
            <div class="article-container">
                @foreach (var x in ViewBag.TedList)
                {
                    <article>
                        <div class="video-title">
                            <div id="txtVideoBtn" link="@Url.Action("Click", "Search", new { title = @x.Title, description = @x.Snippet, videoUrl = @x.Link, categoryId = @ViewBag.categoryId, thumbnailUrl = @x.Pagemap["cse_image"][0]["src"] })" class="link-text" style="color:black;" onclick="checkAP(this)">@x.Title</div>
                        </div>
                        <div class="row-container">
                            <div class="video-img">
                                <div id="imgVideoBtn" link="@Url.Action("Click", "Search", new { title = @x.Title, description = @x.Snippet, videoUrl = @x.Link, categoryId = @ViewBag.categoryId, thumbnailUrl = @x.Pagemap["cse_image"][0]["src"] })" onclick="checkAP(this)" class="searchIMG">
                                    <img id="videoThumbnail" alt="" src=@x.Pagemap["cse_image"][0]["src"] style="cursor:pointer;">
                                </div>
                            </div>
                            <div class="video-content">
                                @x.Snippet
                            </div>
                        </div>
                    </article>
                }
            </div>
        }
        else
        {
            if (ViewBag.SearchClick)
            {
                <h3 class="h7 m4" style="text-align:center;">
                    找不到關於：@ViewBag.Keyword 的影片
                </h3>
            }
        }
    </div>
</div>
@* 

 *@
<script>
    var CategoryName = '@ViewBag.CategoryName';
    var isAuth = @User.Identity.IsAuthenticated;

    function checkAP(e) {
        e=$(e);
        getCurrentAP(function (v) {
            ap = v;

            getIsAuth(function() {
                if( parseInt(ap) >= 10)
                {
                    location.href = e.attr("link");
                }
                else
                {
                    alert('體力不足');
                }
            })
        });
    }

    function getCurrentAP(call) {
        $.ajax({
            type: 'GET',
            url: 'https://localhost:44301/api/iTed2/getCurrentAP?aspId=' + '@User.Identity.GetUserId()',
            contentType: 'application/json',
            success: function (response) {
                if ((typeof (call) != "undefined")) {
                    ap = response;
                    return call(ap);
                }
            },
            error: function (response) {

            }
        });
    }

    function getIsAuth(call) {
        $.ajax({
            type: 'GET',
            url: 'https://localhost:44301/api/iTed2/getIsAuth',
            contentType: 'application/json',
            success: function (response) {
                if (response) {
                    return call();
                }
                else {
                    alert('請先登入');
                }
            },
            error: function (response) {

            }
        });
    }
</script>
@section DescriptionMeta
{
    <meta name="description" content="Search這頁使用Google Custom Search的技術項目，搜尋對象為TED網站，將TED的搜尋結果進行整理並顯示於頁面上。" />
}